<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>欢迎来到成功页面</h1>
    <!--th:text 将div里面的文本内容设置为-->
    <div id="div01" class="myDiv" th:text="${hello}">这里显示的是欢迎信息</div>

    <hr/>

    <!--th:each 每次遍历都会生成当前这个标签： 3个h4-->
    <h4 th:text="${user}" th:each="user:${users}"></h4>

    <hr/>

    <h4>
        <span th:each="user:${users}">[[${user}]]</span>
    </h4>


</body>
</html>